*{
    margin: 0;
    padding: 0;
    border: 0;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.mifuente {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


html, body {
  overflow-x: hidden;
}

header {
            
    background-image: url(../assets/fondo-olas.svg);        
}

li{
    list-style: none;
}

nav{
    padding-top: 3rem;
}

button{
    margin-top: 1.875rem;
}
a{
    text-decoration: none;
    color: white;
    
}



.iconos img {
    max-width: 4rem;
    height: auto;
}



.foto-cita {
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 50%;
    overflow: hidden;
    outline: 2px solid #ffe879;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3) ; 
}

.foto-cita img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.textos-citas {
    width: 18.75rem;
    text-align: center;
    line-height: 1;
}

.textos-citas h3 {
    line-height: 1;    
}

article {
    display: grid;
    justify-content: center;
    justify-items: center;
    width: 60%;
    height: 25rem;
    margin: 3.125rem auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6.25rem 12.5rem 6.25rem;
    background-color: rgb(146, 190, 240);
    border-radius: 3.125rem 0rem 3.125rem 0rem;
}


.bg-celeste {
    background-color: #a3d9ff
}

.ancho-parrafo {
width: 60%;
}